@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); /*Poppins*/

:root {
    box-sizing: border-box;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark_blue: hsl(234, 12%, 34%);
    --graish_blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);

}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Poppins";
    background-color: var(--light-gray);
    display: grid;
    justify-content: center;
}

.main {
    display: grid;
    justify-content: center;
    align-items: center;
}


.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
}



.headerone {
    font-weight: 400;
    font-size: 29px;
}


.headertwo {
    font-weight: 600;
    font-size: 30px;
}

.para {
    max-width: 500px;
    color: var(--graish_blue);
}

@media (max-width: 1000px) {
    .headerone {
        font-size: 18px;
    }
    .headertwo {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .para {
        max-width: 32ch;
    }

    .para  p {
        font-size: 14px;
        
    }

    .headerone {
        font-size: 24px;
        max-width: 25ch;
    }
    .headertwo {
        font-size: 25px;
        max-width: 25ch;
    }
}

.second {

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    padding: 1rem 1rem;
}

@media (max-width: 1000px) {
    .second {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(minmax(300px, 400px));;
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 700px) {

    .second {
        grid-template-rows: repeat(minmax(250px, 300px));;
        justify-content: center;
    }
}

.cardone {
    border-top: 2px solid var(--cyan);
    background-color: white;
    max-width: 40ch;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-gap: 0.5rem;
    padding: 1rem;
    width: 280px;
    align-self: center;
    letter-spacing: 1.4;
    border-radius: 0.3rem;
}

@media (max-width: 1000px) {

    .cardone {
        grid-row: 1/2;
        align-self: center;
        justify-self: center;
    }
}

.cardtwo {
    border-top: 2px solid var(--red);
    background-color: white;
    max-width: 40ch;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1rem;
    width: 280px;
    display: grid;
    grid-gap: 0.5rem;
    letter-spacing: 1.4;
    border-radius: 0.3rem;
}

@media (max-width: 1000px) {

    .cardtwo {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
    }
}



.cardthree {
    border-top: 2px solid var(--orange);
    background-color: white;
    max-width: 40ch;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
    width: 280px;
    display: grid;
    grid-gap: 0.5rem;
    letter-spacing: 1.4;
    border-radius: 0.3rem;
}

@media (max-width: 1000px) {

    .cardthree {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
    }
}



.cardfour {
    border-top: 2px solid var(--blue);
    background-color: white;
    max-width: 40ch;
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 1rem;
    width: 280px;
    display: grid;
    grid-gap: 0.5rem;
    align-self: center;
    letter-spacing: 1.4;
    border-radius: 0.3rem;
}

@media (max-width: 1000px) {

    .cardfour {
        grid-column: 1/2;
        grid-row: 4/5;
        justify-self: center;
    }
}

.head {
    font-weight: bolder;
    font-size: 16px;
}

.middle {
    color: var(--graish_blue);
    font-size: 12px;
}

.card_pic {
    justify-self: end;
    margin-top: 0.2rem;
}

footer {
    text-align: center;
    font-size: 12px;
}